.splide {
    padding: 2em 0;
}

.splide__list {
    list-style: none;
}

.splide__slide {
    flex: 0 0 12%;
}

.splide__slide a {
    display: block;
    width: 90%;
}

.splide__slide img {
    width: 100%;
    height: auto;
    border-radius: 0.5em;
    filter: grayscale(50%);
    transition: transform 0.3s ease-in-out, filter 0.2s ease-in;
}

.splide__slide img:hover {
    filter: grayscale(0);
}

.splide .splide__pagination {
    position: relative;
    margin-top: 2em;
}

.splide .splide__pagination li {
    width: 25px;
}

.splide .splide__pagination button {
    background: #2bbc8a;
}

.splide .splide__pagination__page.is-active {
    background: #1f8662;
}

.splide__arrow {
    background: #2bbc8a;
}

.splide__arrow svg {
    fill: #fff;
}