/*!*---------------BASE STYLES---------------*!*/
.site-wrapper {
    max-width: 72rem;
    margin: 0 auto;
    padding: 0 2rem;
}

/*.site-container.admin {*/
/*    font1-size: 14px;*/
/*}*/

/*.container-wrap {*/
/*    max-width: 60em;*/
/*    margin: 0 auto;*/
/*    position: relative;*/
/*}*/

/*.site-header {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    margin: 1em 2em;*/
/*}*/

/*.site-main {*/
/*    margin-bottom: 7em;*/
/*}*/

/*!*---------------FOOTER STYLES---------------*!*/

/*.site-footer {*/
/*    margin-top: auto;*/
/*    min-height: 10em;*/
/*}*/

/*.site-footer > .container-wrap {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    margin-top: 4em;*/
/*}*/

/*.site-footer > .container-wrap * {*/
/*    align-content: center;*/
/*}*/

/*.socials-icons {*/
/*    display: flex;*/
/*    gap: 2.3em;*/
/*}*/


