
.icon-fire:before { content: '\e800'; } /* '' */
.icon-tag:before { content: '\e801'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
